html
{
  font-size: 62.5%;
}
.container{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10% 10%;  
  width: 90vw;
  height: 90vh;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 5px 10px  hsl(224, 30%, 27%);
}
.result{
  /* display: flex; */
  width: 50%;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
  border-radius: 10%;
}
.result_ellipse{
  width: 200px;
  height: 200px;
  background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0))
  border-radius: 50%;
  margin: auto; 
  position: relative;
  top: 0; bottom: 0; left: 0; right: 0; 
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }